/* media header */
@media (max-width: 1024px) {
    .header {
        padding: 18px;
    }

    .logo {
        margin-right: 50px;
    }

    .js-header-menu.is-open .header__menu-item {
        display: block;
    }

    .header__menu-button {
        display: block;
        border: 2px solid #9171ff;
        padding: 8px;
        border-radius: 8px;
        fill: #9171ff;
        stroke: #9171ff;
    }

    .header__menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgba(16, 7, 36, 1);
    }

    .header__menu-list {
        box-sizing: border-box;
        height: 0;
        overflow: hidden;
        transition: height 0.4s ease, padding 0.4s ease;
        padding: 0 20px;
        flex-direction: column;
    }

    .header__menu-list.is-padding {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .header__auth {
        margin-left: 0;
    }
}

@media (max-width: 850px) {
    .logo {
        margin-right: 20px;
    }
}

@media (max-width: 767px) {

    .header__auth {
        margin-left: 0;
    }

    .js-header-menu.is-open {
        padding: 0 20px 20px 20px;
    }

    .header__menu-item {
        display: block;
    }
}

@media (max-width: 680px) {
    .header {
        padding: 18px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 18px;
        gap: 14px;
    }

    .logo {
        width: 150px;
        height: 26px;
    }

    .header__auth {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .header__lang {
        width: 70px;
        padding: 6px 14px;
    }

    .header__lang img {
        width: 20px;
        height: 20px;
    }

    .header__menu-button {
        padding: 6px;
    }

    .header__menu-button svg {
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 338px) {
    .logo {
        width: 130px;
    }
}

/* sidebar */
@media (max-width: 1025px) {
    .main {
        padding: 0;
        margin: 0;
    }

    .sidebar {
        border-radius: 8px;
        height: auto;
        margin: 20px auto 0;
        width: calc(100% - 40px);
        padding: 0;
        position: static;
    }

    .sidebar__menu {
        display: none;
    }

    .sidebar__nav-button {
        margin-bottom: 0;
    }

    .sidebar__links.is-open .sidebar__links-list {
        padding: 10px 20px;
    }

    .sidebar__links.is-open .sidebar__nav-button {
        margin-bottom: 8px;
    }

}

/* info */
@media (min-width: 1230px) {
    .bet-info__content {
        display: flex;
        gap: 24px;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .bet-info__image {
        max-width: 550px;
        width: 100%;
        height: auto;
        flex-shrink: 0;
    }

    .bet-info__table-wrapper {
        flex: 1;
    }
}

/* rating */
@media (max-width: 767px) {
    .rating {
        flex-direction: column;
    }
}